@import url('http://fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=cyrillic-ext,latin');
@import url('http://fonts.googleapis.com/css?family=Roboto+Condensed&subset=latin,cyrillic');

:root {
    --primary: #723f5e;
    --accent1: #705977;
    --accent2: #a14d8c;
    --accent3: #1b171a;
    --background: #000000;
    --normal-text: #777777;
    --normal-text-hover: #aaaaaa;
    --normal-text-active: #eeeeee;
    --pretty-font: "Ubuntu Condensed", "Segoe UI", Roboto, Oxygen, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    --pretty2-font: "PT Sans Narrow", sans-serif;
    --normal-font: "Calibri", arial, sans-serif;
    --monospace-font: "Consolas", "Courier New", monospace;
    --prio-red: rgba(151, 10, 10, 0.87);
    --prio-orange: rgb(236, 97, 4);
    --prio-yellow: rgb(255, 166, 49);
    --prio-green: rgb(51, 75, 20);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    font-family: var(--normal-font);
    // font-size: 12px;
    color:  var(--normal-text);
    margin: 0;
}


.App {
    padding-top: 60px;

    // display: grid;
    // place-items: center;
}

.clickable {
    text-decoration: none;
    user-select: none;
    -moz-user-select: none;
    cursor: pointer;
    color: var(--normal-text);
}
.clickable:hover {
    text-decoration: none;
    color: var(--normal-text-hover);
}
.clickable:active {
    text-decoration: none;
    color: var(--normal-text-active);
}

.toggleable {
    user-select: none;
    -moz-user-select: none;
    cursor: pointer;
}
.toggled {
    color: var(--normal-text-active);
}

.iconOn {
    color: var(--normal-text-hover);
}

.xlText {
    font-size: 3em;
}

.largerText {
    font-size: 1.5em;
}

.largeText {
    font-size: 1.5em;
}

.mediumText {
    font-size: 1em;
}

.smallText {
    font-size: 0.7em;
}

.marginBottom30 {
    margin-bottom: 30px;
}

.marginTop10 {
    margin-top: 10px;
}

.marginLeft10 {
    margin-left: 10px;
}

.marginRight10 {
    margin-right: 10px;
}


.paperButton {
    display: inline-flex;
    border: 0;
    background-color: var(--accent3);
    font-family: var(--pretty-font);
    color: var(--normal-text);
    // font-weight: bold;
    border-radius: 4px;
    padding: 0.3em 0.8em;
    margin: 0px 0.5em;
    align-items: center;
    justify-content: center;
    user-select: none;
    -moz-user-select: none;
}

.paperButton:hover {
    background-color: var(--accent1);
    color: var(--normal-text-active);
}
.paperButton:active {
    background-color: var(--accent2);
}

.mutedButton {
    color: var(--normal-text);
    border: 1px solid var(--normal-text);
    background-color: transparent;
}
.mutedButton:hover {
    background-color: transparent;
    color: var(--normal-text-hover);
    // border: 1px solid var(--normal-text-hover);
}
.mutedButton:active {
    color: var(--normal-text-active);
    background-color: transparent;
}
.flexFill {
    display: flex;
}
.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexRightAlign {
    display: flex;
    align-items: right;
    justify-content: right;
}


.iconAlign_volume_down {
    position: relative;
    left: -0.08em;
}

.iconAlign_volume_mute {
    position: relative;
    left: -0.16em;
}

.iconAlign_volume_off {
    position: relative;
    left: 0em;
}

.swipeBox {
    grid-area: head;
}