@import url('http://fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=cyrillic-ext,latin');
@import url('http://fonts.googleapis.com/css?family=Roboto+Condensed&subset=latin,cyrillic');
@import "blueprint1.theme.scss";
@import "~normalize.css/normalize.css";
// @import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/core/src/blueprint.scss";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

// *, *::before, *::after {
//     box-sizing: border-box;
// }

body {
    background-color: var(--background);
    // font-family: arial;
    // font-size: 12px;
    color:  var(--normal-text);
    margin: 0;
}


.App {
    padding-top: 60px;

    // display: grid;
    // place-items: center;

    .clickable {
        text-decoration: none;
        user-select: none;
        -moz-user-select: none;
        cursor: pointer;
        color: var(--normal-text);
    }
    .clickable:hover {
        text-decoration: none;
        color: var(--normal-text-hover);
    }
    .clickable:active {
        text-decoration: none;
        color: var(--normal-text-active);
    }
    
    .toggleable {
        user-select: none;
        -moz-user-select: none;
        cursor: pointer;
    }
    .toggled {
        color: var(--normal-text-active);
    }

    .iconOn {
        color: var(--normal-text-hover);
    }
}


:global .xlText {
    font-size: 3em;
}

:global .largeText {
    font-size: 2em;
}

:global .mediumText {
    font-size: 1em;
}

:global .smallText {
    font-size: 0.7em;
}

:global .marginBottom30 {
    margin-bottom: 30px;
}

:global .marginTop10 {
    margin-top: 10px;
}

:global .marginLeft10 {
    margin-left: 10px;
}

:global .marginRight10 {
    margin-right: 10px;
}

:global .paperButton {
    display: inline-flex;
    background-color: var(--accent3);
    font-family: var(--pretty-font);
    color: var(--normal-text);
    // font-weight: bold;
    border-radius: 4px;
    height: 2rem;
    padding: 0px 10px;
    margin-right: 0.5em;
    margin-left: 0.5em;
    align-items: center;
    justify-content: center;
    user-select: none;
}

:global .thinButton {
    height: 1.3em;
}

:global .paperButton:hover {
    background-color: var(--accent1);
    color: var(--normal-text-active);
}
:global .paperButton:active {
    background-color: var(--accent2);
}

:global .stretch {
    display: flex;
}