header {
    background-color: var(--accent3);
    font-family: var(--pretty-font);

    width: 100%;
    
    border-bottom: #3f2f3b solid 4px;

    padding: 0.3em 0.3em;

    position: fixed;
    z-index: 998;
    text-align: center;
}

header > h2 {
    font-weight: 100;
    font-size: 25px;
    margin: 0.2em;
}

.hamburger {
    float:left;
    display: inline-block;
    font-size: 2rem;
    transform: rotate(90deg);
    margin-left: 10px;
}

.nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}
// .nav-toggle:focus ~ .nav-toggle-label {
//     outline: 3px solid rgba(lightblue, .75);
// }


.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

nav {
    position: absolute;
    text-align: left;
    top: calc(100% + 5px);
    left: 0;
    background: #131113;
    width: 9rem;
    border-bottom: #3f2f3b solid 4px;

    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    padding-left: 0;
    list-style: none;
    // justify-content: flex-end;
    // align-items: center;
    // margin: 0;
    height: 100%;
    // padding-right: 50px;
}

nav li {
    // display: inline-block;
    margin: 1em 1.5rem;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    color: #aaaaaa;

    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: var(--primary);
}


.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}
  
.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}
  