header {
    font-family: var(--pretty-font);

}

header a {
    color: var(--normal-text);
    margin: 0.2em;
}

header a:active {
    color: var(--normal-text-active);
}

header a:hover {
    color: var(--normal-text-hover);
}